.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: rgb(28, 167, 130);
}
.main-nav__item { /*Selector*/
    display: inline-block;
}
.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.main-nav__item a:hover { /*PseudoClase*/
    color:blue
}
.main-nav__item a:active {
    color: red;
}
.main-nav__item a::after { /*PseudoElemento*/
    content: " | ";
}